<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289570906091-6j3ug7dua1s7jkfbl0etai869fp8id4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289570906091-6j3ug7dua1s7jkfbl0etai869fp8id4q</string>
	<key>API_KEY</key>
	<string>AIzaSyDPO_UVgBeGmP8tXZAst04ca-8V-feAksg</string>
	<key>GCM_SENDER_ID</key>
	<string>289570906091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamanthaGatt.Firebase-Chat</string>
	<key>PROJECT_ID</key>
	<string>samsfirebasechatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>samsfirebasechatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289570906091:ios:cf256bca00c36707</string>
	<key>DATABASE_URL</key>
	<string>https://samsfirebasechatapp.firebaseio.com</string>
</dict>
</plist>